.App {
	text-align: center;
}
body,
html {
	min-height: 100%;
}
.intropage {
	background-color: cadetblue;
	height: 50vh;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
