body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#root,
html,
body {
	height: 100%;
	width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.intropage {
	position: relative;
	height: 40vh;
	background-color: crimson;
	margin-left: -129px;
}
.wishh3 {
	margin-top: 50px;
	width: 190px;
	background-color: darkkhaki;
	margin-left: 20px;
}
